* {
    box-sizing: border-box;
  }
  
  #allContent{
      width: 100vw;
      height: 100vh;
  
      display: grid;
  
      grid-template-areas:"myNav myNav"
      "myMain myMain"
      "myFooter myFooter";
      grid-template-columns: 22% 78%;
      
  }
  
  .clearfix::after {
      content: '';
      display: block;
      clear: both;
  }
  
  
  .myNav{
      grid-area: myNav;
      background-color: #faf9f9;
      width: 100%;
      background-color: #be6b25;
      
  }
  
  
  
  /* The popup form - hidden by default */
  .popup-background {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0,0,0,0.4);
  }
  .inviteuser-form{
    width: 25%;
    padding: 10px;
    background-color: white;
    margin: auto;
    margin-top: 90px;
  }
  
  
  /* Full-width input fields */
  .inviteuser-form input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .inviteuser-form input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .inviteuser-form .btn {
    background-color: #be6b25;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .inviteuser-form .cancel {
    background-color: #bbb;
    transition: 0.4s;
  }
  
  /* Add some hover effects to buttons */
  .inviteuser-form .cancel:hover {
    background-color: red;
    opacity: 1;
  }
  
  .nav{
      width: 100%;
      height: 90px;
  }
  
  .navbar{
      height: 90px;
      border: none;
  }
  
  .navbar-brand {
      margin-left: 13px; /* or whatever size you want */
      padding-top: 15px; /* this will push it down */
      padding-bottom: 15px; /* this can give more space at the bottom */
      font-family: 'Churchward Design Bold';
  }
  
  #logo {
    max-width: 500px; /* Set a maximum width for the logo */
    height: auto; /* Maintain the aspect ratio */
    margin-right: -1000px; /* Add some margin to separate the logo from text */
}

  .navbar-collapse {
      position: relative;  /* Ensure it's positioned */
      z-index: 1000;       /* Any high number to ensure it's on top of other page elements */
  }
  
  .navbar.navbar-expand-lg.navbar-dark.bg-dark {
      background-color: #be6b25 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link {
      color: white;
      font-size: 20px;
      text-decoration: none;
      padding: 23px 30px; /* Keep padding between elements on the nav bar horizontally and vertically*/
      height: 90px;
      padding-top: 30px;
      background-color: #be6b25;
  }
  
  
  
  
  .navbar-dark .navbar-nav .nav-link:hover {
      background-color: #ffa200; /* Background color on hover */
      color: black; /* Text color on hover */
  }
  
  
  
  
  /* Style the dropdown menu */
  .navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      position: absolute;
      top: 90px;
      width: 170px;
      background: white;
      box-shadow: none;
      border: 0; /* Remove any border that might create a gap */
      padding: 0; /* Remove any padding to ensure full highlighting */
      margin: 0; /* Remove any margin that might create a gap */
      
  }
  
  /* Style the dropdown menu links */
  .navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item {
      padding: 10px;
      color: black;
      font-size: 1.2em;
      text-decoration: none;
      border: 0; /* Remove any border on the dropdown items */
      margin: 0; /* Remove any margin on the dropdown items */
  }
  
  
  
  /* Style the dropdown menu links on hover */
  .navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
      background-color: #ffd200; /* Background color on hover */
      color: black; /* Text color on hover */
  }
  
  /* Style the logo (optional) */
  .navbar .navbar-brand {
      float: left;
      height: inherit;
      margin-left: 2em;
      color: white;
      font-size: 24px;
      
  }
  
  #profileIcon {
      font-size: 38px;
      vertical-align: middle;
  }
  
  
  
  /* Styles for the collapsed (mobile) navigation bar */
  @media (max-width: 991px) {
  
      .navbar-collapse {
          background-color: #de6b25; /* Background color for the mobile menu */
          padding: 10px; /* Add padding to the mobile menu */
      }
  
      .navbar-dark .navbar-nav .nav-link {
          color: white;
          font-size: 1.2em;
          text-decoration: none;
          padding: 25px 30px; /* Keep padding between elements on the nav bar horizontally and vertically*/
          padding-top: 20px;
  
  
      }
  
      .navbar-dark .navbar-nav .nav-item {
          background-color: transparent; /* Background color for the menu items */
          padding: 10px 0; /* Adjust padding for the menu items */
      }
  
      .navbar-dark .navbar-nav .nav-item .nav-link {
          color: white; /* Text color for the menu items */
      }
  
      .navbar-dark .navbar-nav .nav-item .nav-link:hover {
          background-color: #ffa200; /* Background color on hover */
          color: black; /* Text color on hover */
      }
  }
  
  
  .mainContent{
      text-align: center;
      color: black;
      grid-area: myMain;
      height: 76vh;
  }
  
  
  #adminButtons {
   
      height: 10vh;
      display: flex;
      justify-content: space-between; /* Distribute buttons evenly */
      margin-top: 1%;
      margin-bottom: 1%;
  }
  
  #adminButtons span {
      background-color: rgb(174, 168, 162);
      padding: 1vh 3vh; /* Adjust padding as needed */
      border-radius: 3% 3%;
      height: 84%; /* You can set a specific height here */
      display: flex;
      align-items: center; /* Vertically center text */
      justify-content: center; /* Horizontally center text */
      flex: 1; /* Distribute available space equally among buttons */
      margin-left: 1%;
      margin-right: 1%;
      color: black;
  }
  
  
  
  #adminButtons span:hover{
      font-weight: bold;
      background-color: rgb(255, 149, 35);
  } 
  
  
  #bttnInfo{
      height: 60vh;
      width: 100vw;
  }
  
  
  #adminInfoContainer{
      height: 62vh;
      width: 100vw;
      max-height: 66vh;
  }
  
  
  
  
  
  /*staff content*/
  
  #staffSearch {
    background-position: 2% 3%;
    background-repeat: no-repeat;
    width: 40vw;
    font-size: 100%;
    border: 1% solid #ddd;
    margin-left: 5vw;
    height: 5vh;
  }
  
  
  
  #staffToDoContainer{
      height: 66vh;
      width: 100vw;
  }
  

  
  #staffInfo td{

      text-align: left;
      font-size: 1.5vw;
      padding-right: 0.5vw;

      
  }


  #staffInfo{
    margin-bottom: 8vh;
      padding-left: 10%;
      padding-bottom: 1vh;
      padding-right: 10%;
      margin-right: 3%;
      padding-right: 5%;
  }
  
  #staffInfo th {
      text-align: left;
      font-size: 10%;
      padding-left: 0.5vw;
      font-size: 2vw;
      
  }
  
  .staffHeader{
      height: 10vh;
      padding-top: 2vh;
      padding-bottom: 2vh;
      background-color: orange;
  }
  
  
  
  .staffHeader h2{
      margin-left: 6vw;
      font-size: 2vh;
  
      height: 100%;
  }
  
  
  
  .staffHeader {
      text-align: left;
  }
  
  
  
  
  
  
  .adminAddBttn{
      width: 5%;
      font-size: 100%;
      padding-left: 3%;
      padding-right: 4%;
  
  }
  
  .sortOption{
      width: 20%;
      font-size: 100%;
      margin-top: 1%;
      margin-bottom: 1%
  }
  
  
  
  /*end of staff content*/
  
  
  /* styling the projects list*/
  /*staff content*/
  
  /* for projects pop up*/
  /* proj pop up*/

#projectsAdd{
    height: 3vh;
    width: 2vw;
}

  .projectsWindow {
                      display: none;
                      position: fixed;
                      z-index: 1;
                      left: 0;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      overflow: auto;
                      background-color: rgba(0, 0, 0, 0.4);
                    }
                    
                    .projectsWindowContent {
                      background-color: #fefefe;
                      margin: 15% auto;
                      padding: 20px;
                      border: 1px solid #888;
                      width: 80%;
                      max-width: 400px;
                    }
                    
                    .closeProj {
                      color: #aaa;
                      float: right;
                      font-size: 28px;
                      font-weight: bold;
                      cursor: pointer;
                    }
  
  
  
  
  
  
  
  /* end of pop up*/
  #projectsSearch {
    background-position: 2% 3%;
    background-repeat: no-repeat;
    width: 30vw;
    font-size: 100%;
    border: 1% solid #ddd;
    margin-left: 1vw;
    height: 3vh;
  }
  
  
  
  #staffProjectsContainer{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    min-width: 100%;
  }
  
  .staffTableContainer{
      background-color: white;
      height: 54vh;
      margin-left: 5vw;
      margin-right: 5vw;
  }
  



  .staffContainer{
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y: auto;
      min-width: 100%;
  }
  
  .staffContainer tr{
      th:nth-child(even),td:nth-child(even) {
      background-color: rgb(254, 248, 248);
  }
  }
  


#projectSort{
    height: 2vh;
    font-size: 1.5vh;
    width: 30vw;
    
}


  #projectsInfo{
     
      padding-left: 10%;
      padding-right: 10%;
      margin-right: 3%;
      padding-right: 5%;
      
  }
  
  
  #projectsInfo td{
    
      text-align: left;
      font-size: 1.5vw;;
      padding-right: 2%;
      
  }
  
  #projectsInfo th {
      text-align: left;
      font-size: 100%;
      
  }

  
  /*styling thr to-do list*/
  /* styling the to do list */
  #toDoList{
      width: 75.5%;
      height: 100%; 
      padding-top: 5%;
      padding-left: 2vw;
      padding-right: 2.5vw;
      margin-right: 10vw;
      margin-left: 10vw;
      background-color: #f0efef;
      overflow-y: auto;
      text-align: left;
      margin-bottom: 5%;
      padding-bottom: 10%;                     
  }
  
  
  /* Remove margins and padding from the list */
  #toDoUL {
    margin: 0;
    padding-left: 2vw;
    max-width: 100%;
  
  }
  
  #toDoUL li p{
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display "..." for long words */
    display: inline-block; /* Allow text to adjust font size */
    font-size: calc(1vw + 10px); /* Define font size using a combination of vw units and px */
    max-width: 100%; /* Ensure that text does not exceed the width of the <ul> */
    vertical-align: top; /* Align text to the top of the <li> element */
  
  }
  
  /* Style the list items */
  #toDoUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #faf9f9;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  #toDoUL li:nth-child(odd) {
      background: #f2ececf9;
  }
  
  /* Darker background-color on hover */
  #toDoUL li:hover {
      background: #eec46b;
  }
  
  #toDoUL li {
      display: block;
  }
  
  
  
  /* When clicked on, add a background color and strike out text */
  #toDoUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  #toDoUL li.checked p {
    text-decoration: line-through;
    background: #888;
  }
  
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
      background-color: #f2372a;
      color: white;
  }
  
  /* Style the header */
  #toDoHeader {
    text-align: left;
    margin-bottom: 3%;
    color: #2c2b2a;
    text-align: left;
  }
  
  /* Clear floats after the header */
  #toDoHeader:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Style the "Add" button */
  #toDoAddBtn {
      padding: 4%;
      width: 25%;
      background: #d9d9d9;
      color: #555;
      float: left;
      text-align: center;
      font-size: 80%;
      cursor: pointer;
      transition: 0.2s;
      border-radius: 0;
      height: 100%;
  }
  
  #toDoAddBtn:hover {
    background-color: #bbb;
  }
  
  
  #toDoInput{
      margin-left: 5%;
      height: 100%;
      margin: 0;
      border: none;
      border-radius: 0;
      width: 75%;
      padding: 4%;
      float: left;
      font-size: 100%;
  }
  
  
  /*styling the footer*/
  .myFooter{
      grid-area: myFooter;
      text-align: left;
      height: 13.5vh;
  }
      
      
  
  /* Footer styles */
  .footer {
      background: #303036;
      color: #d3d3d3;
      height: inherit;
      position: relative;
  }
  
  .footer .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin-left: 2vw;
  }
  
  .footer-title {
      font-family: 'Churchward Design Bold';  /* specify the font */
      font-size: 3vh;  /* adjust to desired size */
      margin-bottom: 0.5vh;  /* spacing below the title */
  
  }
  
  .footer .contact-details{
      font-size: 1.5vh;
  }
  
  
  .footer .footer-content .footer-section {
      flex: 1;
      padding: 2px;
  }
  
  .footer .footer-content .about .contact-details span {
      display: block;
      font-size: 1.1em;
  }
  